@model IEnumerable<Room>
@{
    ViewData["Title"] = "Rooms";
}

<div class="container">
    <ul>
        @foreach(var item in Model)
        {
            <li>
                <a asp-action="Details" asp-controller="RoomChat" asp-route-roomId="@item.ID">
                    <span>@item.Description</span>
                </a>
            </li>
        }
    </ul>
</div>